body{
  font-family: 'Lato', sans-serif;
}





*{
  margin:0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar{
  position: fixed;
  left : 0;
  width: 136 px;
  height: 100%;
  background: #4E5ACB;
}

.sidebar header {
  font-size: 24px;
  color: white;
  text-align: left;
  line-height: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 90px;
  font-size: 14px;
  color: white;
  padding-left: 30px;
  box-sizing: border-box;
}


ul li:hover a{
  padding-left: 50px;
background-color: #1A3BE9;
}

.sidebar ul a i{
  margin-right: 16px;
}





.wrapper .dashboard .title{
  background: #fff;
  margin-bottom: 10px;
  padding-left: 230px;
  padding-top: 25px;
  font-size: 24px;
  line-height: 22px;
}

#myInput {

  width: 15%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 30px 12px 20px; /* Add some padding */
  border: 1px solid ; /* Add a g4rey border */
  margin: 15px  40px ;/* Add some space below the input */
   float: right;
}




table{
  padding-top: 60px;
  padding-left: 600px;
  font-family: Lato;
  font-size: 16px;
  border-collapse: collapse;
  color: black;
  font-weight: normal;
  margin-left: 250px;
  margin-top: 40px;


}
tr{
  border-bottom: 1px solid #C4C4C4;
  text-align: left;

}

td{
  padding:2em;
}
th{
  color: #C4C4C4;
  width: 25%;
}
